.goToQuestion {
  display: flex;
  flex-direction: column;
  width: 300px;
  max-width: 100%;
}
.goToQuestion button {
  margin: 10px 0;
}
.goToQuestion label {
  display: flex;
  flex-direction: column-reverse;
  text-decoration: underline;
  text-align: left;
  font-weight: bold;
}
.goToQuestion label span {
  margin-bottom: 5px;
}
.goToQuestion label .goToQuestion-input {
  border: 0;
  border-bottom: 1px solid #222;
  height: 30px;
  width: 100%;
  padding: 2px 3px;
  outline: none;
}
